.place__paragraph {
  margin: 0;
  line-height: 163%;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
  }
}